{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <div class="card">

                <form class="form-horizontal" method="POST" action="">
                    {% csrf_token %}
                    <h5>Log in</h5>
                     {% for field in form.visible_fields %}
                    <div class="form-group">
                         {{ field }}
                    </div>
                    {% endfor %}

                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}



                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <button type="submit" class="btn btn-primary">
                                Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}