<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>App</title>

         <title>App</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css" integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.css" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"><!-- Styles -->
        <link rel="stylesheet" href="../../static/styles.css">
    </head>
    <body>
    <div id="app" class="container">
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="/appointments">Keep up with your appointments</a>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Register</a></li>
                </ul>
        </nav>
        <div class="top-margin">

