{% include 'partials/header.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="card-body">
                    <h5>My appointments</h5>
                <a class="btn btn-primary mb-3" href="/appointments/add">Create new appointment</a>
                    <form action="/appointments" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." name="keyword">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="submit">Go!</button>
                            </span>
                        </div>
                    </form>
                    {% if messages %}
                        <div class="alert alert-success" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}

                   {% if appointments %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Patient's name</th>
                            <th>Time</th>
                            <th>Location</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for appointment in appointments %}
                        <tr><td>{{appointment.title}}</td>
                        <td>{{appointment.description}}</td>
                        <td>{{appointment.patient_name}}</td>
                        <td>{{appointment.time}}</td>
                        <td>{{appointment.location}}</td>
                            <td><a href="/appointments/edit/{{appointment.id}}"><i class="material-icons">mode_edit</i></a></td>
                            <td> <a href="#" onclick="event.preventDefault(); document.getElementById('destroy-form').submit();"><i class="material-icons">delete</i></a></td>
                            <form id="destroy-form" action="/appointments/delete/{{appointment.id}}" method="POST" style="display: none;">
                                {% csrf_token %}
                            </form>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div>No appointments found.</div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>
{% include 'partials/footer.html' %}